<div class="page-title">
    <h4>
        <a routerLink="/categories">Categories</a>
        <i class="material-icons">keyboard_arrow_right</i>
        {{ isNew ? 'Add' : 'Update' }} category
    </h4>
    <span>
        <button 
            *ngIf="!isNew"
            class="btn btn-small red"
            (click)="deleteCategory()">
          <i class="material-icons">delete</i>
        </button>
    </span>
</div>

<div class="row">
    <form 
        class="col s12 l6"
        [formGroup]="form"
        (ngSubmit)="onSubmit()">
        <div class="input-field">
            <input 
                id="name" 
                type="text"
                formControlName="name"
                [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}">
            <label for="name">Название</label>
            <span 
                class="helper-text red-text"
                *ngIf="form.get('name').invalid && form.get('name').touched">
                <span *ngIf="form.get('name').errors['required']">
                    Name can not be empty
                </span>
            </span>
        </div>

        <div>
            <input 
                type="file"
                class="d-n"
                (change)="onChangeFileUpload($event)"
                #inputFile>
            <button 
                class="waves-effect waves-light btn orange lighten-2 mb2"
                type="button"
                [disabled]="form.disabled"
                (click)="uploadFile()">
                <i class="material-icons left">backup</i>
                Загрузить изображение
            </button>
        </div>

        <div>
            <button 
                class="waves-effect waves-light btn"
                type="submit"
                [disabled]="form.invalid || form.disabled">
                Сохранить изменения
            </button>
        </div>
    </form>

    <div class="col s12 l4 center">
        <img 
            class="responsive-img h200"
            [src]="imagePreview"
            *ngIf="imagePreview">
    </div>
</div>

<app-position-form></app-position-form>