<div class="row">
    <div class="col s12">
        <div class="page-subtitle">
            <h4>Позиции:</h4>
            <button 
                class="waves-effect waves-light btn grey darken-1 btn-small modal-trigger" 
                data-target="create-modal"
                (click)="onAddPosition()">
                Добавить позицию
            </button>
        </div>

        <div *ngIf="!loading; else loader">
            <div
                *ngIf="positions.length !== 0; else empty" 
                class="collection">
                <a 
                    *ngFor="let position of positions"
                    class="collection-item collection-item-icon"
                    (click)="onSelectPosition(position)">
                    <span>
                        {{ position.name }} <strong>{{ position.cost }} usd.</strong>
                    </span>
                    <span>
                        <i 
                            class="material-icons"
                            (click)="onDeletePosition($event, position)">
                            delete
                        </i>
                    </span>
                </a>
            </div>
            <ng-template #empty>
                <div class="center">There are no positions in category</div>
            </ng-template>
        </div>
        <ng-template #loader>
            <app-loader></app-loader>
        </ng-template>
    </div>
</div>

<form 
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <div class="modal" #modal>
        <div class="modal-content">
            <h4 class="mb1">Add position</h4>
            <div class="input-field">
                <input
                    id="pos-name" 
                    type="text" 
                    [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}"
                    formControlName="name">
                <label for="pos-name">Name</label>
                <span
                    *ngIf="form.get('name').invalid && form.get('name').touched"
                    class="hepler-text red-text">
                    Name can not be empty
                </span>
            </div>
            <div class="input-field">
                <input
                    id="pos-name" 
                    type="number"
                    min="1"
                    [ngClass]="{'invalid': form.get('cost').invalid && form.get('cost').touched}"
                    formControlName="cost">
                <label for="pos-name">Price</label>
                <span
                    *ngIf="form.get('cost').invalid && form.get('cost').touched"
                    class="hepler-text red-text">
                    Price can not equal 0
                </span>
            </div>
        </div>
        <div class="modal-footer">
            <button 
                type="button"
                class="modal-action waves-effect waves-black btn-flat"
                [disabled]="form.disabled"
                (click)="onCancelModal()">
                Отмена
            </button>
            <button 
                type="submit"
                class="modal-action btn waves-effect"
                [disabled]="form.invalid || form.disabled">
                Сохранить
            </button>
        </div>
    </div>
</form>